<h2>Start your collection here or <a href='/login'>login</a></h2>

<form action='/signup' method=POST>

  <label for=trainer_name>Trainer Name: </label>
  <input type=text name=trainer_name id=trainer_name>
  <br><br>

  <label for=email>Email: </label>
  <input type=text name=email id=email>
  <br><br>

  <label for=password>Password: </label>
  <input type=password name=password id=password>
  <br><br>

  <label for=password_confirmation>Confirm Password: </label>
  <input type=password name=password_confirmation id=password_confirmation>
  <br><br>

  <input type=submit value='Get Started!'>
</form>
